.jumbotron{
 background-color: #1e7df4;
color: #ffffff;
padding: 100px 25px;
}

.container-fluid{
    padding: 60px 50px;
}

.bg-grey{
    background-color: #f6f6f6;
}

.logo{
    font-size: 200px;
    color: #1e7df4;
}

.logo-small{
    font-size: 50px;
    color: #1e7df4;
}

@media screen and (max-width : 768px){
    .col-sm-4{
        text-align: center;
        margin: 25px 0;
    }
}

.navbar{
    margin-bottom: 0;
    background-color: #1e7df4;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.428 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1e7df4 !important;
    background-color: #fff !important;
}

.navbar-default {
    border-color: transparent;
    color: #fff !important;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.jumbotron {
    font-family: Montserrat, sans-serif;
}

.navbar {
    font-family: Montserrat, sans-serif;
}